body{
    margin: 1.25em 0.5em 0.75em 1.5em;
    font-family: 'Roboto', sans-serif;
}

.binary-decimal-container {
    display: flex;
}

.decimal-binary-container {
    display: none;
}

.input-container {
    width: 50%;
    margin : 2em 0 2em 0.5em;
    gap: 10px;
}

#converterSelect {
    border: 2px solid grey;
    padding: 0.5em;
    border-radius: 10px;
    margin-left: 15px;
}

.sub-container{
    flex: 1 1;
    min-width: 200px;
    border: 2px solid grey;
    padding: 1em 2em 2em 1em;
}

.sub-container input{
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 300;
}

.result-par{
    margin: 0;
}

.result-span {
    margin: 0.25em 0 0 0;
    font-size: 1.25em;
    font-weight: 300;
}